In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv("train_ctrUa4K.csv")
train.shape

(614, 13)

In [3]:
train['Credit_History'].unique()

array([ 1.,  0., nan])

In [4]:
train['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [5]:
train['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [6]:
train['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [7]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
test=pd.read_csv("test_lAUu6dG.csv")
test.shape

(367, 12)

In [9]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [10]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [11]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [12]:
target_map = {'Yes':1, 'No':0}

In [13]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [14]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [15]:

train['Self_Employed'].fillna('No',inplace=True)
train['Self_Employed']=train['Self_Employed'].apply(lambda x : target_map[x])

In [16]:
train['Self_Employed'][train['Self_Employed']=='Yes'].count()

C:\Users\Niraj\Anaconda3\envs\tensorenviron\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

0

In [17]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,0,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,0,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,1,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,0,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,0,6000,0.0,141.0,360.0,1.0,Urban,Y

In [18]:
train['Gender'][train['Gender']=='Male'].count()

489

In [19]:
target_map = {'Male':1, 'Female':0}

train['Gender'].fillna('Male',inplace=True)

train['Gender']=train['Gender'].apply(lambda x : target_map[x])

In [20]:
train['Married'][train['Married']=='Yes'].count()

398

In [21]:
target_map = {'Yes':1, 'No':0}
train['Married'].fillna('Yes',inplace=True)
train['Married']=train['Married'].apply(lambda x : target_map[x])

In [22]:
target_map = {'Y':1, 'N':0}
train['Loan_Status']=train['Loan_Status'].apply(lambda x : target_map[x])

In [23]:
train['Property_Area'][train['Property_Area']=='Rural'].count()

179

In [24]:
train['Property_Area'][train['Property_Area']=='Urban'].count()

202

In [25]:
target_map = {'Urban':-1, 'Rural':0, 'Semiurban':1}

train['Property_Area']=train['Property_Area'].apply(lambda x : target_map[x])

In [26]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,Graduate,0,5849,0.0,NaN,360.0,1.0,-1,1
1,LP001003,1,1,1,Graduate,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,Graduate,1,3000,0.0,66.0,360.0,1.0,-1,1
3,LP001006,1,1,0,Not Graduate,0,2583,2358.0,120.0,360.0,1.0,-1,1
4,LP001008,1,0,0,Graduate,0,6000,0.0,141.0,360.0,1.0,-1,1

In [27]:
target_map = {'Graduate':1, 'Not Graduate':0}

train['Education']=train['Education'].apply(lambda x : target_map[x])

In [28]:
train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [29]:
train['Dependents'][train['Dependents']=='3+'].count()

51

In [30]:
train['Dependents'].fillna('0',inplace=True)

In [31]:
target_map = {'1':1, '0':0,'2':2,'3+':3}

In [32]:
train['Dependents']=train['Dependents'].apply(lambda x : target_map[x])

In [33]:
train['Credit_History'][train['Credit_History']==1].count()

475

In [34]:
train['Credit_History'].fillna(1,inplace=True)

In [35]:
train['LoanAmount'].fillna(train['LoanAmount'].mean,inplace=True)
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mean,inplace=True)

In [36]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [37]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [38]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [39]:
test['Gender'][test['Gender']=='Male'].count()

286

In [40]:
test['Dependents'][test['Dependents']=='0'].count()

200

In [41]:
test['Self_Employed'][test['Self_Employed']=='No'].count()

307

In [42]:
test['Credit_History'][test['Credit_History']==1].count()

279

In [43]:
target_map = {'Male':1, 'Female':0}

test['Gender'].fillna('Male',inplace=True)

test['Gender']=test['Gender'].apply(lambda x : target_map[x])

In [44]:
test['LoanAmount'].fillna(test['LoanAmount'].mean,inplace=True)
test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mean,inplace=True)
test['Credit_History'].fillna(1,inplace=True)
test['Dependents'].fillna('0',inplace=True)
test['Self_Employed'].fillna('No',inplace=True)

In [45]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [46]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,Yes,0,Graduate,No,5720,0,110,360,1.0,Urban
1,LP001022,1,Yes,1,Graduate,No,3076,1500,126,360,1.0,Urban
2,LP001031,1,Yes,2,Graduate,No,5000,1800,208,360,1.0,Urban
3,LP001035,1,Yes,2,Graduate,No,2340,2546,100,360,1.0,Urban
4,LP001051,1,No,0,Not Graduate,No,3276,0,78,360,1.0,Urban

In [47]:
target_map = {'Yes':1, 'No':0}
test['Married']=test['Married'].apply(lambda x : target_map[x])
test['Self_Employed']=test['Self_Employed'].apply(lambda x : target_map[x])

In [48]:
target_map = {'Urban':-1, 'Rural':0, 'Semiurban':1}

test['Property_Area']=test['Property_Area'].apply(lambda x : target_map[x])

In [49]:
target_map = {'Graduate':1, 'Not Graduate':0}

test['Education']=test['Education'].apply(lambda x : target_map[x])

In [50]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,1,0,5720,0,110,360,1.0,-1
1,LP001022,1,1,1,1,0,3076,1500,126,360,1.0,-1
2,LP001031,1,1,2,1,0,5000,1800,208,360,1.0,-1
3,LP001035,1,1,2,1,0,2340,2546,100,360,1.0,-1
4,LP001051,1,0,0,0,0,3276,0,78,360,1.0,-1

In [51]:
train_x=train.drop(['Loan_ID','Loan_Status'],axis=1)

In [52]:
train_y=train['Loan_Status']

In [53]:
from sklearn.model_selection import train_test_split


# Split data into train and test sets as well as for validation and testing
train, test_y, target_train, target_val = train_test_split(train_x, 
                                                         train_y, 
                                                         train_size= 0.80,
                                                         random_state=0);

In [54]:
seed = 0   # We set our random seed to zero for reproducibility
# Random Forest parameters
rf_params = {
    'n_jobs': -1,
    'n_estimators': 1000,
#     'warm_start': True, 
    'max_features': 0.3,
    'max_depth': 4,
    'min_samples_leaf': 2,
    'max_features' : 'sqrt',
    'random_state' : seed,
    'verbose': 0
}

In [55]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
rf = RandomForestClassifier(**rf_params)

In [56]:
rf.fit(train,target_train)|

TypeError: float() argument must be a string or a number, not 'method'