In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv("train_ctrUa4K.csv")

In [3]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
test=pd.read_csv("test_lAUu6dG.csv")

In [5]:
test.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [6]:
target_map = {'Yes':1, 'No':0}
train['Self_Employed'].fillna('No',inplace=True)
train['Self_Employed']=train['Self_Employed'].apply(lambda x : target_map[x])
train['Married'].fillna('Yes',inplace=True)
train['Married']=train['Married'].apply(lambda x : target_map[x])

In [7]:
target_map = {'Male':1, 'Female':0}

train['Gender'].fillna('Male',inplace=True)

train['Gender']=train['Gender'].apply(lambda x : target_map[x])

In [8]:
target_map = {'Y':1, 'N':0}
train['Loan_Status']=train['Loan_Status'].apply(lambda x : target_map[x])

In [9]:
target_map = {'Urban':-1, 'Rural':0, 'Semiurban':1}

train['Property_Area']=train['Property_Area'].apply(lambda x : target_map[x])

In [10]:
target_map = {'Graduate':1, 'Not Graduate':0}

train['Education']=train['Education'].apply(lambda x : target_map[x])

In [11]:
train['Dependents'].fillna('0',inplace=True)
target_map = {'1':1, '0':0,'2':2,'3+':3}
train['Dependents']=train['Dependents'].apply(lambda x : target_map[x])

In [12]:
train['Credit_History'].fillna(1,inplace=True)

In [13]:
train['LoanAmount'].fillna(150,inplace=True)
train['Loan_Amount_Term'].fillna(360,inplace=True)

In [14]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [15]:
train['Dependents']

0      0
1      1
2      0
3      0
4      0
      ..
609    0
610    3
611    1
612    2
613    0
Name: Dependents, Length: 614, dtype: int64

In [16]:
target_map = {'Male':1, 'Female':0}

test['Gender'].fillna('Male',inplace=True)

test['Gender']=test['Gender'].apply(lambda x : target_map[x])

In [17]:
test['LoanAmount'].fillna(136,inplace=True)
test['Loan_Amount_Term'].fillna(340,inplace=True)
test['Credit_History'].fillna(1,inplace=True)
test['Dependents'].fillna('0',inplace=True)
test['Self_Employed'].fillna('No',inplace=True)

In [18]:
target_map = {'Yes':1, 'No':0}
test['Married']=test['Married'].apply(lambda x : target_map[x])
test['Self_Employed']=test['Self_Employed'].apply(lambda x : target_map[x])

In [19]:
target_map = {'1':1, '0':0,'2':2,'3+':3}
test['Dependents']=test['Dependents'].apply(lambda x : target_map[x])

In [20]:
target_map = {'Urban':-1, 'Rural':0, 'Semiurban':1}

test['Property_Area']=test['Property_Area'].apply(lambda x : target_map[x])

In [21]:
target_map = {'Graduate':1, 'Not Graduate':0}

test['Education']=test['Education'].apply(lambda x : target_map[x])

In [22]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [23]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,1,0,5720,0,110.0,360.0,1.0,-1
1,LP001022,1,1,1,1,0,3076,1500,126.0,360.0,1.0,-1
2,LP001031,1,1,2,1,0,5000,1800,208.0,360.0,1.0,-1
3,LP001035,1,1,2,1,0,2340,2546,100.0,360.0,1.0,-1
4,LP001051,1,0,0,0,0,3276,0,78.0,360.0,1.0,-1

In [24]:
train_x=train.drop(['Loan_ID','Loan_Status',"Gender",'Married'],axis=1)
train_y=train['Loan_Status']

In [25]:
from sklearn.model_selection import train_test_split


# Split data into train and test sets as well as for validation and testing
train, test_y, target_train, target_val = train_test_split(train_x, 
                                                         train_y, 
                                                         train_size= 0.80,
                                                         random_state=0);

In [26]:
seed = 0   # We set our random seed to zero for reproducibility
# Random Forest parameters
rf_params = {
    'n_jobs': -1,
    'n_estimators': 1000,
#     'warm_start': True, 
    'max_features': 0.3,
    'max_depth': 4,
    'min_samples_leaf': 2,
    'max_features' : 'sqrt',
    'random_state' : seed,
    'verbose': 0
}

In [27]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
rf = RandomForestClassifier(**rf_params)

In [28]:
rf.fit(train,target_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [29]:
train.dtypes

Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
dtype: object

In [30]:
target_train.dtypes

dtype('int64')

In [31]:
train.astype(float)

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
90,0.0,1.0,0.0,2958.0,2900.0,131.0,360.0,1.0,1.0
533,1.0,1.0,0.0,11250.0,0.0,196.0,360.0,1.0,1.0
452,0.0,1.0,0.0,3948.0,1733.0,149.0,360.0,0.0,0.0
355,0.0,1.0,0.0,3813.0,0.0,116.0,180.0,1.0,-1.0
266,2.0,1.0,0.0,4708.0,1387.0,150.0,360.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
277,0.0,1.0,0.0,3103.0,1300.0,80.0,360.0,1.0,-1.0
9,1.0,1.0,0.0,12841.0,10968.0,349.0,360.0,1.0,1.0
359,3.0,1.0,0.0,5167.0,3167.0,200.0,360.0,1.0,1.0
192,0.0,0.0,0.0,6033.0,0.0,160.0,360.0,1.0,-1.0
559,0.0,1.0,0.0,4180.0,2306.0,182.0,360.0,1.0,1.0

In [32]:
rf_predictions = rf.predict(test_y)
print("Predictions finished")

Predictions finished

In [33]:
from sklearn.metrics import (accuracy_score, log_loss, classification_report)
print("Accuracy score: {}".format(accuracy_score(target_val, rf_predictions)))
print("="*80)
print(classification_report(target_val, rf_predictions))

Accuracy score: 0.8292682926829268
================================================================================
              precision    recall  f1-score   support

           0       0.88      0.42      0.57        33
           1       0.82      0.98      0.89        90

    accuracy                           0.83       123
   macro avg       0.85      0.70      0.73       123
weighted avg       0.84      0.83      0.81       123

In [34]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 10)
classifier.fit(train,target_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [35]:
y_pred = classifier.predict(test_y)

In [36]:
accuracy_score(target_val,y_pred)*100

67.47967479674797

In [37]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier( criterion = 'entropy', random_state = 0)
classifier.fit(train,target_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [38]:
y_pred = classifier.predict(test_y)

In [39]:
accuracy_score(target_val,y_pred)*100

73.98373983739837